[Unit]
Description=Automatically transfer crypto balance to another address as soon as its received
ConditionPathExists={{BINARY_FILENAME}}
After=network.target

[Service]
User={{USER}}
Type=simple
ExecStart={{BINARY_FILENAME}}
#NotifyAccess=main
#WatchdogSec=10
Restart=on-failure
RestartSec=20

# Filesystem lockdown
ProtectSystem=full
PrivateTmp=true
ProtectKernelTunables=true
ProtectControlGroups=true

# Execute Mappings
MemoryDenyWriteExecute=true

# Privilege escalation
NoNewPrivileges=true

# Real-time
RestrictRealtime=true

[Install]
WantedBy=multi-user.target